@model ECommerce2.Models.ViewModels.PartnershipVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ECommerce2.Models.ViewModels.SelectMediaVM selectMedia = new ECommerce2.Models.ViewModels.SelectMediaVM() {
        ImageId = Model.ImageId,
        Image = null
    };
}

<div class="container container-fix">
    <h1>Create</h1>

    <h4>Partnership</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CompanyName" class="control-label"></label>
                    <input asp-for="CompanyName" class="form-control" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="CompanyWebsite" class="control-label"></label>
                    <input type="url" asp-for="CompanyWebsite" class="form-control" />
                    <span asp-validation-for="CompanyWebsite" class="text-danger"></span>
                </div>
@*                 <div class="form-group mt-2">
                    <label asp-for="Logo" class="control-label"></label>
                    <div class="company-logo--wrapper position-relative border rounded">
                        <button type="button" class="h-100 w-100 btn" id="uploadLogoBtn"></button>
                        <input type="file" name="FileUpload" class="invisible position-absolute" id="uploadLogoInput" accept="image/jpg, image/jpeg, image/png, image/svg" required />
                        <img src="../../dist/uploadImage.jpg" class="position-absolute default rounded w-100 h-100 top-0 start-0" />
                    </div>
                    <span asp-validation-for="FileUpload" class="text-danger"></span>
                </div> *@
                @Html.Partial("_SelectMedia", selectMedia)
                <div class="form-group mt-4">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>

            <partial name="_MediaLibrary" />
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
