<footer class="border-top footer text-muted bg-white d-none">
    <div class="footer-widget py-5">
        <div class="container">
            <a asp-area="Customer" asp-controller="Home" asp-action="Store" class="fw-600 text-dark fs-4 text-decoration-none">SALE UP TO 70% OFF FOR ALL CLOTHES & FASHION ITEMS, ON ALL BRANDS.</a>
        </div>
    </div>

    <div class="primary-footer border-top border-bottom">
        <div class="container py-5">
            <div class="row">
                <div class="col-4">
                    <div class="brand-img--wrapper ">
                        <!img src="/dist/logo1-free-img-140x47.png" class="brand-img" />
                    </div>
                    <div class="brand-line mt-5">
                        <span class="text-dark fs-5 fw-600">
                            The best look anytime, anywhere.
                        </span>
                    </div>
                </div>
                <div class="col-5">
                    <div class="row footer-links">
                        <div class="col-6">
                            <div class="col-title">
                                <span class="text-dark fs-5 fw-600">For Her</span>
                            </div>
                            <ul class="links list-unstyled mt-4">
                                <li><a asp-area="Customer" asp-controller="Home" asp-action="Store" asp-route-category="Women">Women's Collection</a></li>
                                <li><a asp-area="Customer" asp-controller="Home" asp-action="Store" asp-route-category="Women's Jeans">Women's Jeans</a></li>
                                <li><a asp-area="Customer" asp-controller="Home" asp-action="Store" asp-route-category="Women's Shirts">Women's Shirts</a></li>
                                <li><a asp-area="Customer" asp-controller="Home" asp-action="Store" asp-route-category="Women's Shoes">Women's Shoes</a></li>
                                <li><a asp-area="Customer" asp-controller="Home" asp-action="Store" asp-route-category="Women's Shorts">Women's Shorts</a></li>

                            </ul>
                        </div>
                        <div class="col-6">
                            <div class="col-title">
                                <span class="text-dark fs-5 fw-600">For Him</span>
                            </div>
                            <ul class="links list-unstyled mt-4">
                                <li><a asp-area="Customer" asp-controller="Home" asp-action="Store" asp-route-category="Men">Men's Collection</a></li>
                                <li class="mt-1"><a asp-area="Customer" asp-controller="Home" asp-action="Store" asp-route-category="Men's Jeans">Men's Jeans</a></li>
                                <li class="mt-1"><a asp-area="Customer" asp-controller="Home" asp-action="Store" asp-route-category="Men's Shirts">Men's Shirts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="subscribe-widget">
                        <div class="col-title">
                            <span class="text-dark fs-5 fw-600">Subscribe</span>
                            <form method="POST" class="mt-4">
                                <input class="form-control rounded-0 py-2" placeholder="Your email address..." />
                                <button type="submit" class="btn btn-blue px-4 py-2 mt-3 fw-600">SUBSCRIBE</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container py-5">
            <div class="d-flex justify-content-between">
                <div class="copyright">
                    <span class="text-dark">
                        Copyright © @DateTime.Now.Year Brandstore. Powered by Brandstore.
                    </span>
                </div>
                <div class="social-links">
                    <ul class="d-flex list-unstyled mb-0">
                        <li>
                            <a href="#" target="_blank"><i class="bi bi-facebook text-dark"></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class="bi bi-youtube text-dark"></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class="bi bi-twitter-x text-dark"></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class="bi bi-instagram text-dark"></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class="bi bi-google text-dark"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>