@using Microsoft.AspNetCore.Identity
@using ECommerce2.Utility
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item ms-3 d-flex">
        <div class="dropdown d-flex dropdown-center">
            <button class="nav-link p-0 fw-bold d-flex justify-content-center align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-fill fs-4"></i>

            </button>
            <ul class="dropdown-menu rounded-0 border-0 box-shadow">
                <li><a class="dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">Account</a></li>
                <li>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="dropdown-item text-dark">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </li>
}
else
{
    <li class="nav-item ms-3 d-flex">
        <a class="nav-link p-0 fw-bold d-flex justify-content-center align-items-center" asp-area="Identity" asp-page="/Account/Login">
            <i class="bi bi-person-fill fs-4"></i>
        </a>
    </li>
}

