@using ECommerce2.Models.ViewModels
@model ProductCardListItemVM

<li class="card-list-item">
    <div class="card py-3 bg-transparent">
        <div class="row g-0">
            <div class="col-auto position-relative">
                <img src="@Model.Image.FilePath.ToString()" class="img-fluid" alt="...">
                <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Slug" class="stretched-link"></a>
            </div>
            <div class="col flex-grow-1">
                <div class="card-body p-0 ps-3 w-100">
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Slug" class="card-title text-dark text-decoration-none">@Model.Name</a>
                    <div class="star-rating d-flex">
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                    </div>
                    @if (Model.MinPrice != null && Model.MaxPrice != null)
                    {
                        <span>$@Model.MinPrice - </span>
                        <span>$@Model.MaxPrice</span>
                    }
                    else
                    {
                        @if (Model.SalePrice == null)
                        {
                            <span class="listing-price fw-600">$@Model.ListPrice</span>
                        }
                        else
                        {
                            <span class="listing-price text-muted fw-600"><del>$@Model.ListPrice</del></span>
                            <span class="sale-price fw-600">$@Model.SalePrice</span>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</li>