@using ECommerce2.Models.ViewModels
@model RatingBarChartVM

<div class="row gx-2">
    <div class="col-2">
        <span>@Model.Index star</span>
    </div>
    <div class="col">
        <div class="bar">
            <div class="position-relative bar-inner--wrapper">
                <div class="position-absolute bar--inner" style="width: @Model.Percentage%;">
                </div>
            </div>
        </div>
    </div>

    <div class="col-1">
        <span>@Model.Percentage%</span>
    </div>
</div>