<div class="row gx-2">
    <div class="col-auto">
        <span>5 star</span>
    </div>
    <div class="col">
        <div class="bar">
            <div class="position-relative bar-inner--wrapper">
                <div class="position-absolute bar--inner" style="width: 50%;">
                </div>
            </div>
        </div>
    </div>

    <div class="col-auto">
        <span>50%</span>
    </div>
</div>