@using ECommerce2.Models.ViewModels
@model Review

@{
    TimeSpan diff = DateTime.Now - Model.CreatedDate;

    int years = (int)diff.TotalDays / 365;
    int months = (int)diff.TotalDays / 30;
    int days = (int)diff.TotalDays;
    int hours = (int)diff.TotalHours;
    int minutes = (int)diff.TotalMinutes;
    int seconds = (int)diff.TotalSeconds;

    string date = null;

    if (years > 0)
    {
        date = $"{years} year{(years > 0 ? "s" : "")} ago";
    }
    else if (months > 0)
    {
        date = $"{months} month{(months > 0 ? "s" : "")} ago";
    } else if (days > 0)
    {
        date = $"{days} day{(days > 0 ? "s" : "")} ago";
    } else if (hours > 0)
    {
        date = $"{hours} hour{(hours > 0 ? "s" : "")} ago";
    } else if (minutes > 0)
    {
        date = $"{minutes} minute{(minutes > 0 ? "s" : "")} ago";
    } else
    {
        date = $"{seconds} second{(seconds > 0 ? "s" : "")} ago";
    }
}
<li class="item">
    <div class="review-item-header d-flex justify-content-between">
        <div>
            <div class="d-flex align-items-center">
                <div>
                    <i class="bi bi-person-circle fs-1"></i>
                </div>

                <div class="ms-3">
                    <span>@(Model.User != null ? Model.User.FirstName + " " + Model.User.LastName : "Deleted user")</span>
                    <div class="star-rating d-flex">
                        @for (int i = 0; i < 5; i++)
                        {
                            if (i < Model.Rating)
                            {
                                <i class="bi bi-star-fill"></i>
                            } else
                            {
                                <i class="bi bi-star"></i>
                            }
                        }
                    </div>
                </div>
            </div>

        </div>
        <div>
            <span class="text-muted">@date</span>
        </div>
    </div>
    <div class="review-item-body mt-3">
        <p>
            @Model.ReviewText
        </p>
    </div>
</li>