@model string

<section class="highlight-subsections" style="background-color: var(@Model)">
    <div class="container-fluid container-lg">
        <div class="subsections row row-cols-1 row-cols-md-2 row-cols-lg-4">
            <div class="col">
                <div class="subsection">
                    <div class="icon-wrapper text-center">
                        <i class="bi bi-globe-americas fs-1"></i>
                    </div>
                    <div class="content text-center mt-3">
                        <h5 class="content">
                            Worldwide Shipping
                        </h5>
                        <p class="description mt-3">
                            It elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="subsection">
                    <div class="icon-wrapper text-center">
                        <i class="bi bi-award fs-1"></i>
                    </div>
                    <div class="content text-center mt-3">
                        <h5 class="content">
                            Best Quality
                        </h5>
                        <p class="description mt-3">
                            It elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="subsection">
                    <div class="icon-wrapper text-center">
                        <i class="bi bi-tags fs-1"></i>
                    </div>
                    <div class="content text-center mt-3">
                        <h5 class="content">
                            Best Offers
                        </h5>
                        <p class="description mt-3">
                            It elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="subsection">
                    <div class="icon-wrapper text-center">
                        <i class="bi bi-shield-lock fs-1"></i>
                    </div>
                    <div class="content text-center mt-3">
                        <h5 class="content">
                            Secure Payments
                        </h5>
                        <p class="description mt-3">
                            It elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>