@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "/Areas/Identity/Pages/AccountLayout.cshtml";
}
<section id="login">
    <form method="post" class="form-field w-100 m-auto">
        <div class="img--wrapper position-relative">
            <img class="mb-4" src="/dist/logo1-free-img-140x47.png" alt="logo">
            <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="stretched-link"></a>
        </div>
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            <input asp-for="Input.Email" class="form-control" id="floatingInput" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <label asp-for="Input.Email" for="floatingInput" class="form-label">Email Address</label>
        </div>
        <div class="form-floating">
            <input asp-for="Input.Password" class="form-control" id="floatingPassword" autocomplete="current-password" aria-required="true" placeholder="password" />
            <label asp-for="Input.Password" for="floatingPassword">Password</label>
        </div>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
        <div class="form-check text-start my-3">
            <input class="form-check-input" asp-for="Input.RememberMe" id="flexCheckDefault" />
            <label class="form-check-label" for="flexCheckDefault">
                Remember me
            </label>
        </div>
        <button class="btn btn-primary w-100 py-2 rounded" type="submit">Sign in</button>
        <div class="d-flex flex-column align-items-center mt-2">
            <a id="forgot-password" asp-page="./ForgotPassword" class="text-muted">Forgot your password?</a>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-muted">Register as a new user</a>
            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="text-muted">Resend email confirmation</a>
        </div>
        <p class="mt-5 mb-3 text-body-secondary">© 2017–2024</p>
    </form>
</section>
    


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
