@using ECommerce2.Models.ViewModels
@model List<CartItemVM>

<div class="offcanvas offcanvas-end" tabindex="-1" id="userCart" aria-labelledby="userCart">
    <div class="offcanvas-header px-4 py-3 border-bottom">
        <h5 class="offcanvas-title fw-normal fs-6" id="userCart">Shopping Cart</h5>
        <button type="button" class="btn-close opacity-100" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-4 d-flex flex-column">
        <div class="h-100 d-flex">

            @if (Model.Count != 0)
            {
                <ul class="list-unstyled w-100">
                    @foreach (CartItemVM item in Model)
                    {
                        @(await Html.PartialAsync("_UserCartItem", item))
                    }
                </ul>
            }
            else
            {
                <div class="no-item m-auto">
                    <span>
                        No products in the cart.
                    </span>
                </div>
            }
        </div>
        <div>
            <a asp-area="Customer" class="btn btn-light-blue w-100 text-center fw-600 text-light mt-auto" asp-controller="Home" asp-action="Store">CONTINUE SHOPPING</a>
        </div>
    </div>
</div>