

/************************************************** */
/** Global */

:root {
    --bs-primary-bg-subtle: #cfe2ff;
    --global-blue: #31779a;
    --global-blue-1: #0075be;
    --global-blue-2: #0084d6;
    --global-bg-gray: #f5f7f9;
    --global-text-muted: #6c757d;
    --bs-light: #f8f9fa;
    --global-white: white;
    --global-border-color: #e2e2e2;
    --global-black-1: #333333;
}

html {
    font-size: 14px;
    scroll-behavior: auto;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

/*body {
    margin-bottom: 60px;
}
*/

@media (min-width: 1400px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 991px) {
    .container-fluid {
        padding: 0 50px !important;
    }
}

@media (max-width: 767px) {
    .container-fluid {
        padding: 0 20px !important;
    }
}

.btn {
    border-radius: 0;
}

.btn-muted {
    opacity: 0.7;
    pointer-events: none;
}

.btn-light {
    transition: 0.3s all;
}

.btn-light-blue {
    background-color: var(--global-blue-2);
}

.btn-light-blue:hover, .btn-light-blue:focus-visible, .btn-light-blue:active {
    background-color: var(--global-blue-1) !important;
}

.btn-blue {
    background-color: var(--global-blue-1);
    color: white !important;
}

.btn-light:hover {
    background-color: black;
    color: white;
    border-color: black;
}

/** Container Fix from Header */

.container-fix {
    padding-top: 104px;
}

.fw-600 {
    font-weight: 600;
}

.p-6 {
    padding: 4rem;
}

.p-7 {
    padding: 5rem;
}

.add-to-cart-tooltip {
    margin-right: 5px !important;
}

.custom-divider span {
    border-bottom: 3px solid var(--global-blue);
    width: 100px;
}

.py-100 {
    padding: 100px 0;
}

.rounded-4 {
    border-radius: 1rem;
}