/** Header */

@media (min-width: 992px) {
    header {
        margin-bottom: -104px;
    }
}

header .navbar.bg-translucent {
    background-color: rgba(0,0,0,0.07) !important;
}


header .navbar.bg-translucent .nav-link {
    color: white !important;
}

header .navbar.bg-white .nav-link {
    color: black !important;
}

header .navbar.bg-white .nav-link:hover {
    color: var(--global-blue-1) !important;
}

header .navbar.bg-white .navbar-brand img {
    filter: invert(1) grayscale(100%) brightness(200%);
}

header .navbar.navbar-desktop {
    border-bottom: none !important;
}

header .navbar-desktop .navbar-brand {
    max-width: 140px;
}

header .navbar-mobile .navbar-brand {
    max-width: 100px;
}

header .navbar-mobile .offcanvas-toggler {
    background-color: black;
    border: 0;
}

header .navbar-mobile .nav-link {
    padding: 20px;
}

header .navbar-mobile .offcanvas ul li {
    border-bottom: 1px solid var(--global-border-color);
}

header .navbar-mobile .offcanvas ul.menu-first {
    background-color: var(--global-bg-gray);
}

header .navbar-mobile .offcanvas ul.menu-last, header .navbar-mobile .offcanvas ul.menu-account {
    background-color: #f9f9f9;
}

header .navbar-mobile .menu-account {
    display: none;
}

header .navbar-brand img {
    width: 100%;
}

header .container-fluid {
    background-color: unset;
}

header .navbar.bg-white .cart-count--wrapper {
    background-color: black;
    color: white;
    transition: all 0.15s ease-in-out;
}

header .navbar.bg-white .cart-details-btn:hover .cart-count--wrapper {
    background-color: var(--global-blue-1);
}

header .cart-count--wrapper {
    width: 18px;
    height: 18px;
    top: 2px;
    right: -12px;
    text-align: center;
    line-height: .7rem;
    font-size: .7rem;
    background-color: white;
    color: black;
    font-weight: 600;
}

header .navbar-desktop .nav-link .bi {
    margin-top: -6px;
}

header .navbar-desktop .dropdown-menu {
    left: unset !important;
    right: 0;
    background-color: var(--global-bg-gray);
}
header .dropdown-menu li:hover a, header .dropdown-menu li:hover button {
    transition: all 0.2s ease-in-out;
}
header .dropdown-menu li:hover a, header .dropdown-menu li:hover button {
    background-color: black !important;
    color: white !important;
}

#userCart {
    width: 700px;
}

#userCart .cart-item .img--wrapper img {
    max-width: 60px;
}

#userCart .cart-item:nth-child(n + 2) {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid var(--global-border-color);
}

.footer {
/*    position: absolute;
    bottom: 0;*/
    width: 100%;
    white-space: nowrap;
}

footer .footer-links ul li a {
    color: var(--global-text-muted);
    text-decoration: none;
}

footer .primary-footer .brand-img--wrapper .brand-img {
    max-width: 90px;
    filter: invert(1) grayscale(100%) brightness(200%) !important;
}

footer .social-links ul li {
    margin-left: 2rem;
}

footer .social-links ul li a:hover i {
    color: var(--global-blue-1) !important;
}

@media (max-width: 575px) {
    footer .footer-widget a {
        text-align: center;
    }

    footer .primary-footer, footer .footer-bottom {
        text-align: center;
    }

}

/** Hero section */

section.hero {
    background: linear-gradient(180deg, #0084D4 -50%, #0000002b 100%), url(../dist/home-new-bg-free-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    background-attachment: fixed;
    padding-top: 104px;
}

/*********************************************************** */
/** Homepage */

#logo-carousel .splide {
    padding: 0 50px;
}

#logo-carousel .splide__slide img {
    width: 100%;
    height: auto;
}

#logo-carousel .splide__arrows button {
    background: none;
}

#logo-carousel .splide__arrows button svg {
    opacity: 0.2;
}
#logo-carousel .splide__arrow--prev {
    left: 0 !important;
}

#logo-carousel .splide__arrow--next {
    right: 0 !important;
}

/** Special Promotions */

.special-promotions {
    padding: 100px 0;
}

.special-promotions .img-color-overlay {
    background-color: rgba(0,0,0,0.45);
}

.special-promotions img {
    height: 480px;
    object-fit: cover;
    object-position: center;
}


/** Featured Products Listing */

section.featured-product-listing .divider span {
    border-bottom: 2px solid var(--global-blue);
    width: 80px;
    margin: 0 auto;
}

section.featured-product-listing {
    padding: 100px 0;
    background-color: var(--global-bg-gray);
}

@media (min-width: 1400px) {
    section.featured-product-listing .container {
        max-width: 1320px;
    }
}

.product-card .product-details {
    font-size: 0.9rem;
}


.attributes-radios--wrapper .attribute-color input[type="radio"] {
    width: 20px;
    height: 20px;
    padding: 0;
    border: 2px solid white;
    appearance: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    outline: 1px solid transparent;
}

.attributes-radios--wrapper .attribute-color input[type="radio"]:checked {
    outline: 1px solid black !important;
}

.attributes-radios--wrapper .attribute-button input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    cursor: pointer;
}

.attributes-radios--wrapper .attribute-button input[type="radio"] + label {
    padding: 7px 13px;
    background-color: transparent;
    border: 1px solid var(--global-border-color);
    transition: 0.3s all ease-in-out;
    font-size: 0.8rem;
    line-height: 0.8rem;
}

.attributes-radios--wrapper .attribute-button input[type="radio"]:checked + label {
    border: 1px solid black;
}


.product-card .img--wrapper:hover .add-to-cart {
    display: flex;
}

.product-card .add-to-cart {
    top: 15px;
    right: 15px;
    display: none;
    z-index: 99;
}


.product-card .sale-tag {
    z-index: 99;
    top: 15px;
    left: 15px;
    padding: 5px 10px;
    font-size: 0.8rem;
    border-radius: 20px;
}

.product-card .add-to-cart .btn {
    width: 30px;
    height: 30px;
    display: flex;
    background-color: var(--bs-light);
}
.product-card .add-to-cart .btn i {
    margin-right: -1px;
}

.product-card .add-to-cart .btn:hover i {
    color: black !important;
}




/** Limited Time Offer */
@media (min-width: 1400px) {
    section .limited-time-offer .container {
    max-width: 1380px;
    }
}

section.limited-time-offer {
    background-color: var(--global-bg-gray);
}

@media (min-width: 992px) {
    section.limited-time-offer .container-bg {
        background-attachment: fixed;

    }

    section.limited-time-offer .content {
        padding: 100px !important;
    }
}
section.limited-time-offer .container-bg {
    background-image: linear-gradient(0deg, rgb(25 149 211 / 28%), rgb(25 149 211 / 28%)), url("../dist/banner-03.jpg");
    background-position: center;
    background-size: cover;
}


section.highlight-subsections .icon-wrapper img {
    max-width: 52px;
    max-height: 52px;   
    margin: 0 auto;
}



section.highlight-subsections {
    padding: 100px 0;
}

@media (max-width: 767px) {
    section.hero {
        height: 100%;
        background-attachment: unset;
        background-size: cover;
    }

    section.hero .content {
        text-align: center;
        padding: 75px 0;
    }

    .special-promotions img {
        height: 300px;
    }

    .special-promotions .card-content {
        width: 100%;
    }

    .special-promotions .card-content a {
        width: 100%;
    }

    section.featured-product-listing {
        padding: 50px 0;
    }

    section.limited-time-offer .content a {
        width: 100%;
    }

    section.highlight-subsections {
        padding: 50px 0;
    }
}

section.about-us-hero {
    background: linear-gradient(0deg, rgb(30 87 122 / 50%), rgb(30 87 122 / 50%)), url("../dist/banner-04.jpg");
    background-position: center;
    background-size: cover;
    height: 25vh;

}

@media (min-width: 768 ) {
    section.about-us-hero {
        height: 50vh;
    }
}

@media (min-width: 992px) {
    section.about-us-hero {
        background-attachment: fixed;
        height: 75vh;
        background-position: bottom;
    }
}


section.who-we-are {
    padding: 50px 0;
    background-color: var(--global-bg-gray);
}

section.who-we-are .bg-image {
    background-size: cover;
    background-position: center;
}



section.who-we-are .inner-content--wrapper {
    padding: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

@media (min-width: 576px) {
    section.who-we-are .inner-content--wrapper {
        padding: 40px;
        text-align: left;
    }
}

@media (min-width: 992px) {
    section.who-we-are {
        padding: 100px 0;
    }

    section.who-we-are .container-lg {
        max-width: 1700px !important;
    }

    section.who-we-are .inner-content--wrapper {
        padding: 100px;
    }
}


section#our-team .content {
    max-width: 800px;
    margin: 0 auto;
}

section#our-team .content .team-members .member-content {
    background-color: var(--global-bg-gray);
    height: 100%;
}

section#our-team .content .team-members img {
    max-width: 90px;
}

section#socials {
    background: linear-gradient(0deg, rgb(25 26 26 / 50%), rgb(26 28 28 / 50%)), url(../dist/banner-05.jpg);
    background-size: cover;
    background-position: center;
}

section#socials .content {
    background-color: var(--global-bg-gray);
    max-width: 400px;
    margin: 0 auto;
    padding: 50px 50px;
}

section#socials .content-wrapper {
    padding: 40px 30px;
}

@media (min-width: 992px) {
    section#socials {
        background-attachment: fixed;
    }

    section#socials .content {
        padding: 150px 50px;
    }
}


section#socials .content a:hover i {
    color: var(--global-blue-1) !important;
}


section#contact-us-hero {
    background: linear-gradient(0deg, rgb(43 0 0 / 70%), rgb(30 87 122 / 50%)), url(../dist/banner-06.jpg);
    background-position: center;
    background-size: cover;
    height: 25vh;
}

@media (min-width: 768 ) {
    section#contact-us-hero {
        height: 40vh;
    }
}

@media (min-width: 992px) {
    section#contact-us-hero {
        background-attachment: fixed;
        height: 55vh;
        background-position: bottom;
    }
}


section#contact-cards .divider-black span {
    border-bottom: 1px solid black;
    width: 50px;
}

section#contact-cards .cards a {
    color: var(--global-blue-1);
    text-decoration: none;
}


section#contact-form .form input, section#contact-form .form textarea {
    width: 100%;
    border: 1px solid var(--global-border-color);
    padding: 10px;
    outline: none !important;
}

section#contact-form .form textarea {
    height: 200px;
}

section#contact-form .form button {
    background-color: var(--global-blue-1);
    color: white;
}

@media (min-width: 1200px) {
    section#store .container-fluid {
        max-width: 1380px;
    }
}

section#store #store-sidebar form#queryForm input {
    border: 1px solid var(--global-border-color);
    padding: 7px 10px;
    flex: 1;
}

section#store #store-sidebar form#queryForm button {
    background-color: var(--global-blue-2);
    border: none;
    width: 35px;
}

section#store #store-sidebar form#queryForm button:hover {
    background-color: var(--global-blue-1);
}

section#store {
    background-color: var(--global-bg-gray);
}


section#store #product-listing .products-wrapper {
    padding: 20px;
}

section#store #product-listing .form-select {
    max-width: 150px;
}


section#store .container-fluid {
    padding: 50px 20px !important;
}

@media (min-width: 576px) {
    section#store #product-listing .products-wrapper {
        padding: 30px;
    }

    section#store #product-listing .form-select {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    section#store .container-fluid {
        padding: 70px 20px !important;
    }

    section#store .container-fluid > .d-flex {
        margin-left: -30px;
    }

    section#store .container-fluid > .d-flex > div {
        padding-left: 30px;
    }

    section#store #product-listing .products-wrapper {
        padding: 50px;
    }
}

@media (min-width: 1200px) {
    section#store .container-fluid > .d-flex {
        margin-left: -70px;
    }

    section#store .container-fluid > .d-flex > div {
        padding-left: 70px;
    }

    section#store #product-listing .products-wrapper {
        padding: 100px;
    }
}

    
.dual-range-slider--wrapper {
    position: relative;
    width: 100%;
    height: 25px;
}

.dual-range-slider--wrapper input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}

.dual-range-slider--wrapper .slider-track {
    width: 100%;
    height: 3px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}

.dual-range-slider--wrapper input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 3px;
}

.dual-range-slider--wrapper input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: 3px;
}

.dual-range-slider--wrapper input[type="range"]::-ms-track {
    appearance: none;
    height: 3px;
}

.dual-range-slider--wrapper input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 17px;
    width: 17px;
    background-color: black;
    cursor: pointer;
    margin-top: -7px;
    pointer-events: auto;
    border-radius: 50%;
}

.dual-range-slider--wrapper input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 17px;
    width: 17px;
    cursor: pointer;
    border-radius: 50%;
    background-color: black;
    pointer-events: auto;
    border: none;
}

.dual-range-slider--wrapper input[type="range"]::-ms-thumb {
    appearance: none;
    height: 17px;
    width: 17px;
    cursor: pointer;
    border-radius: 50%;
    background-color: black;
    pointer-events: auto;
}

.dual-range-slider--wrapper.slider-disabled .slider-track {
    background: linear-gradient(to right, #ebebf1 0%, #000000 0%, #000000 100%, #ebebf1 100%)
}

.dual-range-slider--wrapper.slider-disabled input[type="range"]:nth-of-type(n + 2) {
    margin-left: calc(100% - 17px);
}

#filterForm button {
    background-color: var(--global-blue-2);
    padding: 3px 18px;
    color: white;
    border: none;
    font-weight: 600;
}

#filterForm button:hover {
    background-color: var(--global-blue-1);
}


.pagination .page-link {
    border-radius: unset !important;
    padding: .4rem .9rem;
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: .3s all ease-in-out;
}

.pagination .page-link:hover {
    background-color: black;
    color: white;
}

.pagination .page-item.active .page-link {
    background-color: black;
    color: white;
    border: 1px solid black;
}

.pagination .page-item:nth-of-type(n+2) {
    margin-left: 5px;
}

.no-products {
    background-color: var(--global-bg-gray);
    border-top: 3px solid black;
}

.breadcrumb li a {
    text-decoration: none;
}

.breadcrumb li:nth-of-type(n + 2) {
    padding-left: 0.2rem !important;
}

.breadcrumb li::before {
    padding-right: 0.2rem !important;
}

.dropdown select {
    border: none;
    padding: .375rem 1.00rem .375rem .75rem;
}

.best-selling-products li .card {
    border: unset;
}

.best-selling-products li:nth-of-type(n + 2) .card {
    border-top: 1px solid var(--global-border-color);
}

#details-page-content {
    background-color: var(--global-bg-gray);
}

#add-to-cart-form input.item-count {
    max-width: 60px;
    padding: 5px 5px 5px 15px;
    border: 1px solid var(--global-border-color);
}

#add-to-cart-form button#submit-btn {
    background-color: var(--global-blue-2);
    text-align: center;
    width: 100%;
    max-width: 300px;
}

#add-to-cart-form #clear-form-btn {
    font-size: 12px;
}

#details-page-content .category-list a {
    text-decoration: none;
    color: unset;
}

.product-tabs .nav-tabs {
    border-bottom: unset;
}

.product-tabs .nav-tabs li button {
    border-radius: 0px;
    border: unset;
    background-color: none !important;
    background: none !important;
    padding: 8px 0;
    color: #515151;
    font-weight: 600;
    margin-top:2px;
}

.product-tabs .nav-tabs li button.active {
    box-shadow: 0px -3px 0px 0px black;
}

.product-tabs .nav-tabs li:nth-of-type(n + 2) {
    margin-left: 20px;
}

#details-page-content #description-tab-pane .ck-content {
    padding: 0;
    background: none;
    border: 0;
}

#details-page-content #description-tab-pane .ck-editor__top {
    display: none;
}

#details-page-content #addtl-info-tab-pane table th {
    font-weight: normal;
    padding: 10px 15px
}

#details-page-content #addtl-info-tab-pane table tr > th:first-child {
    width: 150px;
}


.product-gallery-carousel .thumbnail {
    cursor: pointer;

}

.product-gallery-carousel .thumbnail.is-active img {
    opacity: 1;
}

.product-gallery-carousel .thumbnail img {
    width: 100%;
    height: auto;
    opacity: 0.5;
}

.cart-page {
    background-color: var(--global-bg-gray);
}

.cart-page #cart table img {
    width: 100%;
    max-width: 70px;
}

.cart-page #cart table {
    color: var(--global-black-1);
}

.cart-page #cart table input[type="number"] {
    max-width: 60px;
    
}

.cart-page #cart table tr {
    border: inherit;
}

.cart-page #cart table thead, .cart-page #cart-total .cart-total-header {
    background-color: #f9f9f9;
}

.cart-page #cart table thead th {
    font-weight: 600;
}

.cart-page #cart table tbody {
    border: inherit;
}

.cart-page .no-products {
    background-color: #f5f5f5;
}

.star-rating-inputs {
    display: flex;
    align-items: end;
}

.star-rating-inputs > label {
    margin-left: 0.2rem;
}

.star-rating-inputs input {
    opacity: 0;
    margin-right: -13px;
    pointer-events: none;
}

.star-rating-inputs input:nth-child(n + 1) {
    position: absolute;
}

.star-rating-inputs:has(input:checked) i {
    color: black;
}

.star-rating-inputs label i {
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    color: transparent;
}

.star-rating-inputs input:checked + label ~ label i {
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    color: transparent;
}

#product-review-form textarea {
    height: 100px;
}

.product-reviews .ratings-chart .row {
    font-weight: 500;
}

.product-reviews .ratings-chart .row:nth-child(n+2) {
    margin-top: 0.3rem;
}

.product-reviews .ratings-chart .bar {
    height: 100%;
}

.product-reviews .ratings-chart .bar-inner--wrapper {
    height: 100%;
    width: 100%;
    background-color: #e9e9e9;
    border: 2px solid black;
}

.product-reviews .ratings-chart .bar--inner {
    height: 100%;
    background-color: black;
}

.product-reviews .review-items .item:nth-child(n + 2) {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid var(--global-border-color);
}


.card-list-item .row div:first-child img {
    max-width: 64px;
    max-height: 64px;
    width: 100%;
    height: 100%;
}

.card-list-item .card-body {
    line-height: 1.3rem;
}