@model ECommerce2.Models.ViewModels.TeamMemberVM

@{
    ViewData["Title"] = "Edit";
    ViewData["ActivePage"] = DashboardPages.TeamMembers;
    Layout = "~/Areas/Admin/Views/_Layout.cshtml";
}

@{
    ECommerce2.Models.ViewModels.SelectMediaVM selectMedia = new ECommerce2.Models.ViewModels.SelectMediaVM()
    {
        ImageId = Model.ImageId,
        Image = Model.Image
    };
}
<div>
    <h1>Edit</h1>

    <h4>TeamMember</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Position" class="control-label"></label>
                    <input asp-for="Position" class="form-control" />
                    <span asp-validation-for="Position" class="text-danger"></span>
                </div>
                @Html.Partial("_SelectMedia", selectMedia)
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>

            <partial name="_MediaLibrary" />
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
